.My-Table {
    width: 80%;
    text-align: center;
}

.Header-Row {
    width: 100%;
    color: white;
    font-weight: bold;
}

.Header-Cell-First {
    width: 4%;
    float: left;
    background-color: #000;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Header-Cell-Name {
    width: 65%;
    float: left;
    background-color: #000;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Header-Cell-Size {
    width: 10%;
    float: left;
    background-color: #000;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Header-Cell-Options {
    width: 20%;
    float: left;
    background-color: #000;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Content-Table {
    width: 100%;
}
