.Item {
    width: 100%;
    color: black;
}

.Item:hover {
    color: red;
    font-weight: bold;
}

.Item-Cell-First-Odd {
    width: 4%;
    float: left;
    padding-top: 5pt;
    padding-bottom: 5pt;
}


.Item-Cell-Name-Odd {
    width: 64%;
    float: left;
    text-align: left;
    padding-left: 1%;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-Size-Odd {
    width: 10%;
    float: left;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-Download-Odd {
    width: 10%;
    float: left;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-Remove-Odd {
    width: 10%;
    float: left;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-First-Even {
    width: 4%;
    float: left;
    background-color: darkgray;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-Name-Even {
    width: 64%;
    float: left;
    text-align: left;
    padding-left: 1%;
    background-color: darkgray;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-Size-Even {
    width: 10%;
    float: left;
    background-color: darkgray;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-Download-Even {
    width: 10%;
    float: left;
    background-color: darkgray;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Cell-Remove-Even {
    width: 10%;
    float: left;
    background-color: darkgray;
        padding-top: 5pt;
    padding-bottom: 5pt;
}

.Item-Icon {
    height: 12pt;
    pointer-events: none;
}
